@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

:root {
    --primary-color: #012f02;
}

[class*="-CustomIconWrapper"] img {
    height: 20px;
    width: auto;
}

aside [href="#/collections/persons_statutes"] span::before {
    content: '\F8A7';
}